<template>
  <div>
    <h1>Login Page</h1>
    <form action>
      <input type="email" name="email" placeholder="Email" v-model="email">
      <input type="password" name="password" placeholder="Password" v-model="password">
      <button @click.prevent="login()">Login</button>
    </form>
  </div>
</template>

<script>
import { LOGIN } from '../../store/modules/auth'

export default {
  data() {
    return {
      email: "",
      password: ""
    }
  },
  methods: {
    login() {
      this.$store.dispatch(LOGIN, { email: this.$data.email, password: this.$data.password })
      this.$router.push({ name: 'home' });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
