<template>
  <div>
    <h1>Register Page</h1>
    <form>
      <input type="name" name="name" placeholder="Name" v-model="name">
      <input type="email" name="email" placeholder="Email" v-model="email">
      <input type="password" name="password" placeholder="Password" v-model="password">
    </form>
    <button @click.prevent="register()">Register</button>
  </div>
</template>

<script>
import { REGISTER } from '../../store/modules/auth'

export default {
  data() {
    return {
      name: "",
      email: "",
      password: ""
    }
  },
  methods: {
    register() {
      this.$store.dispatch(REGISTER, { name: this.$data.name, email: this.$data.email, password: this.$data.password})
      this.$router.push({ name: 'login' });      
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
