<template>
  <div>
    <h1>Accept Event</h1>
    <form action>
      <input type="text" placeholder="Location" v-model="location">
      <input type="date" placeholder="Date" v-model="date">
      <input type="text" placeholder="Accomodation Price" v-model="accommodationPrice">
      <input type="text" placeholder="Feeding Price" v-model="feedingPrice">
      <input type="text" placeholder="Price Per Person" v-model="pricePerPerson">
      <button @click.prevent="accept()">Accept</button>
    </form>
  </div>
</template>

<script>
import { ACCEPT_EVENT } from '../../store/modules/events'

export default {
  data() {
    return {
      date: null,
      location: '',
      feedingPrice: null,
      accommodationPrice: null,
      pricePerPerson: null,
    };
  },
  computed: {
  },
  created() {
  },
  methods: {
    accept() {
      this.$store.dispatch(ACCEPT_EVENT, {
        id: this.$route.params.id,
        date: this.$data.date,
        location: this.$data.location,
        feeding_price: this.$data.feedingPrice,
        accommodation_price: this.$data.accommodationPrice,
      }, this.$route.params.id)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
