<template>
  <div>
    <h1>Organizer Pending Events</h1>
    <div v-for="event in events" :key="event.id">
      <h4>{{ event.title }}</h4>
      <router-link :to="'/organizer/pending-events/' + event.id + '/accept'">Accept</router-link>
      <a href @click.prevent="decline(event.id)">Decline</a>
    </div>
  </div>
</template>

<script>
import { FETCH_ORGANIZER_PENDING_EVENTS } from '../../store/modules/events'
import { DECLINE_EVENT } from '../../store/modules/events'

export default {
  created() {
    this.$store.dispatch(FETCH_ORGANIZER_PENDING_EVENTS)
  },
  computed: {
    events() {
      return this.$store.getters.organizerEvents
    }
  },
  methods: {
    decline(eventId) {
      this.$store.dispatch(DECLINE_EVENT, eventId)
      this.$store.dispatch(FETCH_ORGANIZER_PENDING_EVENTS)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
