<template>
  <div>
      <media-uploader></media-uploader>
  </div>
</template>

<script>
import mediaUploader from '@/components/media-uploader'

export default {
    components: {
        'media-uploader': mediaUploader
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
