<template>
  <nav>
    <router-link to="/">Home</router-link>
    <router-link to="/events">Events</router-link>
    <div v-if="!authenticated">
      <router-link to="/register">Register</router-link>
      <router-link to="/login">Login</router-link>
    </div>
    <div v-if="authenticated">
      <router-link :to="{ name: 'create-event' }">Create Event</router-link>
      <router-link :to="{ name: 'organizer.pending-events' }" v-if="authenticated">Pending Events</router-link>
      <router-link :to="{ name: 'client.accepted-events' }" v-if="authenticated">Accepted Events</router-link>
      <router-link :to="{ name: 'client.completed-events' }" v-if="authenticated">Completed Events</router-link>
      <router-link :to="{ name: 'organizer.event.images.upload' }" v-if="authenticated">Uploader</router-link>
      <router-link to="/logout" v-if="authenticated" @click.native="logout()">Logout</router-link>
    </div>
  </nav>
</template>

<script>
import { LOGOUT } from '../store/modules/auth'

export default {
  computed: {
    authenticated() {
      return this.$store.getters.authenticated;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch(LOGOUT)
      this.$router.push({ name: 'home', query: { redirect: '/' } });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
