<template>
  <div id="app">
    <master/> 
  </div>
</template>

<script>
import master from "@/layouts/master"

export default {
  name: 'App',
  components: {
    master
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
