<template>
  <div>
    <h1>Client Accepted Events</h1>
    <div v-for="event in events" :key="event.id">
      <h4>{{ event.title }}</h4>
      <a href @click.prevent="confirm(event.id)">Confirm</a>
      <a href @click.prevent="decline(event.id)">Decline</a>
    </div>
  </div>
</template>

<script>
import { FETCH_CLIENT_ACCEPTED_EVENTS } from '../../store/modules/events'
import { DECLINE_EVENT } from '../../store/modules/events'
import { CONFIRM_EVENT } from '../../store/modules/events'

export default {
  created() {
    this.$store.dispatch(FETCH_CLIENT_ACCEPTED_EVENTS)
  },
  computed: {
    events() {
      return this.$store.getters.clientAcceptedEvents
    }
  },
  methods: {
    decline(eventId) {
      this.$store.dispatch(DECLINE_EVENT, eventId)
      this.$store.dispatch(FETCH_CLIENT_ACCEPTED_EVENTS)
    },
     confirm(eventId) {
      this.$store.dispatch(CONFIRM_EVENT, eventId)
      this.$store.dispatch(FETCH_CLIENT_ACCEPTED_EVENTS)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
