<template>
  <div>
    <h1>Client Completed Events</h1>
    <div v-for="event in events" :key="event.id">
      <h4>{{ event.title }}</h4>
      <router-link :to="{ name: 'client.event-feedback', params: { id: event.id } }">Feedback</router-link>
    </div>
  </div>
</template>

<script>
import { FETCH_COMPLETED_EVENTS } from '../../store/modules/events'

export default {
  created() {
    this.$store.dispatch(FETCH_COMPLETED_EVENTS)
  },
  computed: {
    events() {
      return this.$store.getters.clientCompletedEvents
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
