<template>
  <div>
    <h1>Master Layout</h1>
    <navigation></navigation>
    <router-view/>
    <!-- Footer -->
  </div>
</template>

<script>
import navigation from "@/components/navigation.vue"
//import Footer from "~/components/Footer.vue"

export default {
  components: {
   navigation,
 //   Footer
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>

