<template>
  <div>
    <h1>Create Event</h1>
    <form action>
      <input type="text" placeholder="Title" v-model="title">
      <br>
      <p>Organizer</p>
      <select v-model="selectedOrganizer">
        <option v-for="organizer in organizers" :value="organizer.id" :key="organizer.id">{{ organizer.name }}</option>
      </select>
      <br>
      <p>Type</p>
      <select v-model="selectedType">
        <option v-for="type in types" :value="type.id" :key="type.title">{{ type.title }}</option>
      </select>
      <br>
      <button @click.prevent="store()">Create</button>
    </form>
  </div>
</template>

<script>
import { FETCH_ORGANIZERS } from '../../store/modules/users'
import { FETCH_TYPES } from '../../store/modules/types'
import { CREATE_EVENT } from '../../store/modules/events'

export default {
  data() {
    return {
      title: 'Title',
      description: 'Desc',
      date: '01.01.2020',
      location: 'Sofia',
      feedingPrice: 20.00,
      accommodationPrice: 20.00,
      involved: 'Involved',
      selectedOrganizer: {},
      selectedType: {},
    };
  },
  computed: {
    organizers() {
      return this.$store.getters.organizers
    },
    types() {
      return this.$store.getters.types
    }
  },
  created() {
    this.$store.dispatch(FETCH_ORGANIZERS)
    this.$store.dispatch(FETCH_TYPES)
  },
  methods: {
    store() {
      this.$store.dispatch(CREATE_EVENT, {
        title: this.$data.title,
        description: this.$data.description,
        date: this.$data.date,
        location: this.$data.location,
        feeding_price: this.$data.feedingPrice,
        accommodation_price: this.$data.accommodationPrice,
        involved: this.$data.involved,
        organizer: this.$data.selectedOrganizer,
        type: this.$data.selectedType,
      })
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
