<template>
  <div>
    <h1>Feedback</h1>
    <form action>
    Rating
      <input type="number" placeholder="Rating" v-model="rating">
      <br>
      Review
      <textarea name="" id="" cols="30" rows="10" v-model="review"></textarea>
      <button @click.prevent="store()">Give Feedback</button>
    </form>
  </div>
</template>

<script>
import { CREATE_EVENT_FEEDBACK } from '../../store/modules/events'

export default {
  data() { 
    return {
      review: '',
      rating: 0,
    };
  },

  methods: {
    store() {
      this.$store.dispatch(CREATE_EVENT_FEEDBACK, {
        eventId: this.$route.params.id,
        client_review: this.$data.review,
        rating: this.$data.rating,
      }, this.$route.params.id)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
