<template>
  <div>
    <h1>Events</h1>
    <div v-for="event in events" :key="event.id">
      <router-link :to="{ name: 'events.show', params: { id: event.id } }">{{ event.title }}</router-link>
    </div>
  </div>
</template>

<script>
import { FETCH_EVENTS } from '../../store/modules/events'

export default {
  created() {
    this.$store.dispatch(FETCH_EVENTS);
  },
  computed: {
    events() {
      return this.$store.getters.events;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
