<template>
  <div>
    <h1>{{ event.title }}</h1>
    <form action>
      Comment
      <textarea v-model="text"></textarea>
      <button @click.prevent="comment()">Post</button>
    </form>
     <div v-for="comment in event.comments" :key="comment.id">
      <p>{{ comment.text }}</p>
    </div>
  </div>
</template>

<script>
import { FETCH_EVENT } from '../../store/modules/events'
import { CREATE_EVENT_COMMENT } from '../../store/modules/events'

export default {
  data() {
    return {
      text: '',
    };
  },
  created() {
    this.$store.dispatch(FETCH_EVENT, this.$route.params.id)
  },
  computed: {
    event() {
      return this.$store.getters.event
    }
  },
  methods: {
    comment() {
      this.$store.dispatch(CREATE_EVENT_COMMENT, {
        eventId: this.$route.params.id,
        text: this.$data.text
      })

      this.$store.dispatch(FETCH_EVENT, this.$route.params.id)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
